


<options quarantine>

mreplyto     preserve
mfrom        root+123456789@domain.com
mreport      filtermaster@domain.com

notify       all
notifyfrom   filtermaster@domain.com
notifyto     filtermaster@domain.com

dirspool     /var/spool/ze-tools
dirgood      /var/spool/ze-tools-good
dirbad       /var/spool/ze-tools-bad

agemin       6
agemax       52

maxfree      3
minhold      10
nohold       false

clamdscan    /usr/bin/clamdscan
smbin        /usr/sbin/sendmail -oi

</options>

