
=== scalar ===
# option   variable  kind default valid_values  help_string 
#
# kind in (bool, int, str, hash)
#
h          help      bool 0       *             This message
help       help      bool 0       *             This message
d          debug     bool 0       *             Debug mode
debug      debug     bool 0       *             Debug mode
v          verbose   bool 0       *             Verbose

op         op        str  ""      *             What to do ???

#option    Option    hash ""      *             Hash test

=== hash ===
# option     kind default valid_values   help_string 
#
# kind in (bool, int, str)
#
prefix        str "/tmp"      *               Prefix
remove        bool 0          *               Remove old content
user          str  ze-filter  *               User
group         str  ze-filter  *               Group


